@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow:ital,wght@0,100;0,200;0,500;1,100;1,500&family=Caveat&family=Dancing+Script:wght@400;600&family=Gloria+Hallelujah&family=Just+Another+Hand&family=Kalam:wght@300&family=Kolker+Brush&family=Neucha&family=Pacifico&family=Rubik+Mono+One&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*colores
rgb (245,245,220) BEIGE
rgb (222,184,135) SALMÓN
rgb (165,42,42) MARRÓN OSCURO
rgb (119,59,17) MARRÓN CLARO*/